.row{
    width: 100%;
    margin: 0px 35px;
}
.carts{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    justify-content: center;
    align-items: center;
}
.eachCart{
    width: 80px;
    object-fit: contain;
    max-height: 80px;
    margin: 0px 20px;
}
.eachCart:hover{
    opacity: 50%;
}

