@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap');

.overViewContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.centerizer{
    display: grid;
    place-items: center;
    margin-bottom: 0px;
}


.minimummer{
    max-width: 75%;
}



/* about me */

.aboutMeContainer{
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 40px;
    color: aliceblue;
    place-items: center;
    margin-top: 16.5rem;
}

.profilePic{
    width: 70%;
    object-fit: cover;
}

.aboutMe{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    width: 110%;
    height: 100%;
}

.aboutMeTitle{
    margin-bottom: 0.5em;
    font-family: 'Dosis', sans-serif;
    font-size: 3em;
    color: aliceblue;
}


/* University */

.universityContainer{
    margin-top: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.waterloo{
    width: 100%;
    margin-bottom: 2.5rem;
}
.descriptionAboutMe, .descriptionAboutMe1{
    font-size: 1.5rem;
    color: aliceblue;
    margin-top: 0.5em;
    width: 100%;
}
.descriptionAboutMe1{
    width: 90%;
}
.universities{
    display: grid;
    place-items: center;
}
/* left */

.leftContainer{
    gap: 30px;
    margin-top:5em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.leftTextContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
    color: aliceblue;
}
.cybersec{
    width: 27.5%;
}
.leftTextContainer>p{
    font-size: 1.5rem;
}
.leftTopic{
    font-family: 'Dosis', sans-serif;
    font-size: 3rem;
    /* text-align: left; */
    margin-bottom: 3rem;
}

/* roadmap */
.roadmap{
    margin: 5em 0;
}
.roadmapDescription{
    color: aliceblue;
    font-size: 1.5rem;
    margin-top: 3em;
}

/* slider linkedin */

.show{
    margin-top: 0px;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4em;
}

/* Basketball */
.basketballContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2.5em;
    width: 100%;
}
.basketballtopic{
    font-family: 'Dosis', sans-serif;
    color: aliceblue;
    margin-bottom: 1em;
    font-size: 3rem;
}
.basketball{
    margin-top: 4em;
    width: 20%;
}

.bassketballDescription{
    color: aliceblue;
    font-size: 1.5rem;
}

/* guitar */
.guitarContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3.5em;
    width: 100%;
    margin-top: 4em;
}
.guitarTextContainer{
    padding-top: 3rem;
}
.guitartopic{
    font-family: 'Dosis', sans-serif;
    color: aliceblue;
    margin-bottom: 1em;
    font-size: 3rem;
}
.guitar{
    margin-top: 4em;
    width: 30%;
}

.guitarDescription{
    color: aliceblue;
    font-size: 1.5rem;
}

/* Responsive mobile */
@media only screen and (min-device-width: 319px) and (max-device-width:667px){

    .aboutMe, .descriptionAboutMe, .descriptionAboutMe1, .leftTextContainer>p, .bassketballDescription, .guitarDescription{
        font-size: 1.2rem;
    }

@media only screen and (min-device-width: 1000px) and (max-device-width:1200px){

    }


/* About me */

    .minimummer{
        max-width: 95%;
    }
    .aboutMeTitle{
        font-size: 2.5em;
    }
    .aboutMeContainer{
        margin-top: 14rem;
        gap: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .profilePic{
        display: none;
    }
    .aboutMe{
        width: 95%;
    }

/* university */

    .universityContainer{
        margin-top: 5rem;
    }
    .waterloo{
        width: 90%;
    }

/* Cyber security */
    .leftContainer{
        flex-direction: column;
    }
    .cybersec{
        width: 65%;
    }
    .leftTextContainer>p{
        width: 93%;
    }
    .leftTopic{
        font-size: 2.5rem;
        margin-bottom: 2.5rem;
    }

/* Basketball */
    .basketballContainer{
        flex-direction: column;
        flex-flow: column-reverse;
        gap: 0;
    }
    .basketball{
        width: 55%;
        margin-top: 0;
        margin-bottom: 2em;
    }

    .basketballTextContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 95%;
    }

/* Guitar */

    .guitarContainer{
        flex-direction: column;
        flex-flow: column-reverse;
        gap: 0;
        margin-top: 0;
    }
    .guitar{
        width: 60%;
        margin: 2em;
    }

    .guitarTextContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 95%;
    }


}