.showInfo{
    width: 70%;
    height: 300px;
    background-color: rgba(59, 59, 59, 0.459);
    border-radius: 35px;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}
.showInfoContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cross{
    background-color: transparent;
    width: 40px;
    height: 40px;
    position: absolute;
    right: 20px;
    top: 15px;
    cursor: pointer;
    border-radius: 50%;
    background-color: white;
}
.cross:hover, .cross:active{
    background-color: red;
}

.title{
    color: aliceblue;
    background-color: transparent;
}
.description{
    color: aliceblue;
    background-color: transparent;
}
.imageInfo{
    width: 100%;
    object-fit: contain;
    max-height: 200px;
    background-color: transparent;
}
.imageLeft, .textMiddle{
    background-color: transparent;
}
.imageLeft{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 35px;
}
.textMiddle{
    padding: 25px 40px;
}
h2{
    font-size: 3.5rem;
}
.description{
    padding-left: 50px;
    font-size: 1.2rem;
}