
.each{
    object-fit: contain;
    height: 350px;
    margin: 0 50px;
    border-radius: 50px;
}




.containerSlider { 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 2rem 0;
    transition: all 0.5s;
}
.slider {
    background-color: black;
    color: white;
    overflow: hidden;
    width: 75%;
    position: relative;
}

.right{
    position: absolute;
    right: 20px;
    top: 45%;
    z-index: 100;
}
.left{
    position: absolute;
    left: 20px;
    top: 45%;
    z-index: 100;
}

.right, .left {
    border: 2px solid rgba(8, 100, 8, 0.616);
    border-radius: 50%;
    background-color: rgba(8, 100, 8, 0.616);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.right:hover, .left:hover{
    background-color: aliceblue;
    border: 2px solid rgba(2, 88, 2, 0.932);
}

.right:active, .left:active{
    background-color: aliceblue;
    border: 2px solid rgba(2, 88, 2, 0.932);
}

.imageBtn{
    background-color: transparent;
}


@media only screen and (min-device-width: 319px) and (max-device-width:667px){
    .each{
        height: 200px;
        margin: 0 15px;
        border-radius: 15px;
    }
    .slider{
        width: 90%;
    }
    .right{
        right: 7px;
    }
    .left{
        left: 7px;
    }
}
