@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0; 
    left: 0; 
    z-index: 9999;
}
.navigationBar{
    display: flex;
    background-color: transparent;
    justify-content: space-between;
    height: 70px;
    max-width: 1214.75px;
    min-width: 1023px;
    width: 100%;
}
.NavMin{
    display: none;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}
.menu{
    width: 60px;
    height: 60px;
    margin-left: 10px;
    cursor: pointer;
}
.leftContainer{
    color: aliceblue;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.name{
    font-size: 3rem;
    background-color: transparent;
    font-weight: bolder;
}
.flo{
    color: green;
    background-color: transparent;
}


.middleContainer{
    background-color: transparent;
    display: grid;
    place-items: center;
    align-items: center;
    width: 65%;
    margin-left: -40px;
}
.list{
    display: flex;
    justify-content: space-around;
    background-color: transparent;
    width: 100%;
    list-style-type: none;
}
.usual{
    text-decoration: none;
    background-color: transparent;
    color: aliceblue;
    font-size: 1.7rem;
    padding: 5px 10px;
    border-radius: 20px;
    transition: all 0.25s;
}
.usual:hover{
    background-color: rgba(2, 112, 2, 0.753);
}
.onPage{
    text-decoration: none;
    font-size: 1.7rem;
    padding: 5px 10px;
    border-radius: 20px;
    background-color: aliceblue;
    color: rgba(2, 112, 2, 0.753);
}
li{
    background-color: transparent;
}

.rightContainer{
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}
.KB{
    width: 70px;
    height: 70px;
    background-color: transparent;
}

@media screen and (min-width:768px) and (max-width:1023px){
    nav{
        display: none;
    }
    .NavMin{
        display: flex;
    }
    .nameMin{
        color: aliceblue;
        font-size: 2rem;
        background-color: transparent;
        font-weight: bolder;
    }
}
@media screen and (min-width:0px) and (max-width:767px){
    nav{
        display: none;
    }
    .NavMin{
        display: flex;
        padding: 0px 3px;
    }
    .nameMin{
        color: aliceblue;
        font-size: 2rem;
        background-color: transparent;
        font-weight: bolder;
    }

}
